---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Marsza%C5%82kowska%201,%20Warszawa,%20Polska&key=<gmaps_api_key>&language=pl&mode=walking&origins=Towarowa%201,%20Warszawa,%20Polska
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Warsaw
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Marszałkowska 1, 00-026 Warszawa, Polska" ],
           "origin_addresses" : [ "Towarowa 1, 00-811 Warszawa, Polska" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "3,0 km",
                          "value" : 3037
                       },
                       "duration" : {
                          "text" : "38 min",
                          "value" : 2285
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Nov 2021 22:07:52 GMT
recorded_with: VCR 6.0.0
