---
http_interactions:
- request:
    method: post
    uri: https://graphhopper.com/api/1/route?key=d0179386-cebf-4f3b-9e8a-067140d1f585
    body:
      encoding: UTF-8
      string: '{"points":[[20.987053,52.2264294],[20.99787875814951,52.2494588]],"profile":"foot"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '29362'
      X-Ratelimit-Credits:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"hints":{"visited_nodes.sum":258,"visited_nodes.average":258.0},"info":{"copyrights":["GraphHopper","OpenStreetMap
        contributors"],"took":3,"road_data_timestamp":"2024-10-25T23:00:00Z"},"paths":[{"distance":3513.798,"weight":2135.908281,"time":2525939,"transfers":0,"points_encoded":true,"points_encoded_multiplier":100000.0,"bbox":[20.983816,52.226484,20.998493,52.24942],"points":"onw}Hiab_CKDIC[?}@l@OREHKZ?DCDKJC@ANoDvC?FMJIBiEnDIGcAdAOTAAi@iCIe@?E@G?CU@KFGFCI}@v@e@Hi@sF@WAKUE_Dp@e@PuDx@sB^y@Tc@JoFdA}C`Ao@PwE`BCMC@CAAEi@HiCjA_CmH[sAC@CK@UYoACEEQKI[uAy@p@GWGCwBrAOH{@z@Qo@EFKCIF{B{JIHGQE@EO}AjAEUYTQNG@a@ZiB^CAEOIFoB_IoFiU_BqGIFgB{Hk@sC}@aDGEEBSo@IHiAgESP{@K?ECCEAED?B{AKeCSG@WEw@JHhB","instructions":[{"distance":12.461,"heading":335.24,"sign":0,"interval":[0,2],"text":"Continue","time":8972,"street_name":""},{"distance":64.83,"sign":-1,"interval":[2,5],"text":"Turn
        slight left","time":46677,"street_name":""},{"distance":31.632,"sign":7,"interval":[5,11],"text":"Keep
        right","time":22776,"street_name":""},{"distance":5.416,"sign":-2,"interval":[11,12],"text":"Turn
        left","time":3900,"street_name":""},{"distance":114.24,"sign":2,"interval":[12,14],"text":"Turn
        right","time":82253,"street_name":""},{"distance":141.196,"sign":2,"interval":[14,17],"text":"Turn
        ri[...]
