---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Towarowa%201,%20Piecki,%20Polska&key=<gmaps_api_key>&language=pl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Piecki",
                       "short_name" : "Piecki",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Powiat mrągowski",
                       "short_name" : "Powiat mrągowski",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Warmińsko-Mazurskie",
                       "short_name" : "Warmińsko-Mazurskie",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Polska",
                       "short_name" : "PL",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "11",
                       "short_name" : "11",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    }
                 ],
                 "formatted_address" : "Piecki, Polska",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 53.77811639999999,
                          "lng" : 21.3540989
                       },
                       "southwest" : {
                          "lat" : 53.7430067,
                          "lng" : 21.3214296
                       }
                    },
                    "location" : {
                       "lat" : 53.7650906,
                       "lng" : 21.3379504
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 53.77811639999999,
                          "lng" : 21.3540989
                       },
                       "southwest" : {
                          "lat" : 53.7430067,
                          "lng" : 21.3214296
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJX6TFMnsD4kYR2ldSqtKPz1c",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Nov 2021 18:27:20 GMT
recorded_with: VCR 6.0.0
