---
http_interactions:
- request:
    method: get
    uri: https://graphhopper.com/api/1/geocode?debug=false&key=d0179386-cebf-4f3b-9e8a-067140d1f585&limit=5&locale=en&q=Towarowa%202,%20Warszawa,%20Polska&reverse=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      X-Ratelimit-Reset:
      - '80927'
      X-Ratelimit-Credits:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"point":{"lat":52.22603085,"lng":20.9888595919274},"extent":[20.9885371,52.2257601,20.9895595,52.2263322],"name":"Towarowa","country":"Poland","countrycode":"PL","city":"Warsaw","state":"Masovian
        Voivodeship","street":"Towarowa","postcode":"00-811","osm_id":11687899,"osm_type":"R","housenumber":"2","osm_key":"building","osm_value":"hotel","house_number":"2"},{"point":{"lat":52.2259135,"lng":20.9888871},"name":"Campanile","country":"Poland","countrycode":"PL","city":"Warsaw","state":"Masovian
        Voivodeship","street":"Towarowa","postcode":"00-811","osm_id":7956040948,"osm_type":"N","housenumber":"2","osm_key":"tourism","osm_value":"hotel","house_number":"2"},{"point":{"lat":52.229095099999995,"lng":20.988207431927027},"extent":[20.9854602,52.2278182,20.9906277,52.2303256],"name":"Towarowa
        22","country":"Poland","countrycode":"PL","city":"Warsaw","state":"Masovian
        Voivodeship","osm_id":378921162,"osm_type":"W","osm_key":"landuse","osm_value":"construction"},{"point":{"lat":52.2259028,"lng":20.9891205},"name":"The
        Loft Bar & Restaurant","country":"Poland","countrycode":"PL","city":"Warsaw","state":"Masovian
        Voivodeship","street":"Towarowa","postcode":"00-811","osm_id":11982922182,"osm_type":"N","housenumber":"2","osm_key":"amenity","osm_value":"restaurant","house_number":"2"},{"point":{"lat":52.2261814,"lng":20.9891129},"name":"Premiere
        Classe","country":"Poland","countrycode":"PL","city":"Warsaw","state":"Masovian
        Voivodeship","street":"Towarowa","postcode":"00-811","osm_id":7956040949,"osm_type":"N","housenumber":"2","osm_key":"tourism","osm_value":"hotel","house_number":"2"}],"locale":"en"}'
  recorded_at: Sun, 10 Nov 2024 01:31:12 GMT
recorded_with: VCR 6.0.0
