---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Towarowa%201,%20Warszawa,%20Polska&key=<gmaps_api_key>&language=pl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Warsaw
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Towarowa",
                       "short_name" : "Towarowa",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Wola",
                       "short_name" : "Wola",
                       "types" : [ "political", "sublocality", "sublocality_level_1" ]
                    },
                    {
                      [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Pu%C5%82awska%2035,%20Warszawa,%20Polska&key=<gmaps_api_key>&language=pl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Warsaw
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
            [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Pu%C5%82awska%2035,%20Warszawa,%20Polska&key=<gmaps_api_key>&language=pl&mode=walking&origins=Towarowa%201,%20Warszawa,%20Polska
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Warsaw
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Puławska 35, 02-508 Warszawa, Polska" ],
           "origin_addresses" : [ "Towarowa 1, 00-811 Warszawa, Polska" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "3,6 km",
                          "value" : 3607
                       },
                       "duration" : {
                          "text" : "46 min",
                          "value" : 2735
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 07 Nov 2021 20:26:46 GMT
recorded_with: VCR 6.0.0
