.d-flex.flex-column
  .d-flex.flex-row.justify-content-between.pt-3.pb-3.border-top.border-warning
    .d-flex.flex-column
      .text-muted.mb-3
        = activity.day.to_s(:long_ordinal)
      .d-flex.flex-row.font-weight-bold
        #{activity.start.address} - #{activity.finish.address}
    %h3.align-self-center
      #{activity.distance} km
